<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MentalHealf"
        tools:targetApi="31">
        <activity
            android:name=".ActivityPrivacy"
            android:exported="false" />
        <activity
            android:name=".ActivityMeditationHistory"
            android:exported="false" />

        <receiver
            android:name=".ReminderMessage"
            android:exported="false" />

        <activity
            android:name=".ActivityFeedback"
            android:exported="false" />
        <activity
            android:name=".ActivityPostMeditation"
            android:exported="false" />
        <activity
            android:name=".ActivityMethodMeditation"
            android:exported="false" />
        <activity
            android:name=".ActivityMindfullness"
            android:exported="false" />
        <activity
            android:name=".ActivitySettings"
            android:exported="false" />
        <activity
            android:name=".ActivityTrends"
            android:exported="false" />
        <activity
            android:name=".ActivityJournal"
            android:exported="false" />
        <activity
            android:name=".ActivityHome"
            android:exported="false" />
        <activity
            android:name=".ActivityResetPassword"
            android:exported="false" />
        <activity
            android:name=".ActivitySignup"
            android:exported="false" />
        <activity
            android:name=".ActivityMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>